.btn {

    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    padding-left:30px ;
    padding-right:30px ;
    border-radius: 20px  ;
    border: 2px solid #00f;
    background-color: #00f;
    color: #fff;
    cursor:pointer;
}

.btn:hover {
    background-color: #36f;
}
